div.row {
    margin-right: 0px;
  }

  div.container-fluid {
    padding-right: 0px;
  }
  a {
    text-decoration: none;
  }
a>li:hover{
  background-color: rgb(78, 75, 75);
  color: white;
}

.titulos{
    font-weight: bold;
}